{% extends "::base.html.twig" %}
{% block container %}
    <div class="container mar-top50">
    {% block body %}
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-8" style="border-bottom: 1px solid #000; margin-bottom: 10px;">
            <h2>Detali Paieška</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form class="navbar-form">
                <div>
                    <div>
                        <div class="form-group w100pc">
                            <input type="text" placeholder="Noriu" class="form-control input-lg w100pc">
                        </div>
                        <br/><br/>
                        <div class="form-group w100pc">
                            <input type="text" placeholder="Nenoriu" class="form-control input-lg w100pc">
                        </div>
                        <br/><br/>
                        <div>
                            Studijų trukmė
                            <div class="row" style="padding-top: 5px; padding-bottom: 5px; border-top: 1px solid #000; border-bottom: 1px solid #000;">
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> 3 metai
                                        </label>
                                    </div><br/>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> 4 metai
                                        </label>
                                    </div><br/>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> 6 metai
                                        </label>
                                    </div>
                                    ​
                                </div>
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> 3,5 metų
                                        </label>
                                    </div><br/>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> 5 metai
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/><br/>
                        <div>
                            Studijų kaina (per metus)
                            <div class="row" style="padding-top: 5px; padding-bottom: 5px; border-top: 1px solid #000; border-bottom: 1px solid #000;">
                                <div class="col-md-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Nuo 0 iki 1000
                                        </label>
                                    </div><br/>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Nuo 2000 iki 3000
                                        </label>
                                    </div><br/>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Nuo 3000 iki 4000
                                        </label>
                                    </div><br/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><br/><br/>
                <div style="text-align: right">
                    <button type="submit" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-search"></span> Ieškoti</button>
                </div>
            </form>
        </div>
        <div class="col-md-8">
            <div class="row" style="border: 1px solid #e5e5e5; margin-bottom: 10px;">
                <div class="col-md-8" style="margin:10px;border-right: 2px solid;">
                    <span style="font-size: 21px;">Internetinių svetainių kūrimas</span><br/>
                    <span style="font-size: 18px;">Vilniaus kolegija</span><br/>
                    Informacinių sistemų inžinerija<br/>
                </div>
                <div class="col-md-3" style="margin-top:30px;">
                    <a href="#"> <i class="fa fa-info-circle fa-2x" style="vertical-align: bottom;" aria-hidden="true"></i> <span style="font-size: 16px;">Detali informacija</span></a>
                </div>

            </div>
            <div class="row" style="border: 1px solid #e5e5e5; margin-bottom: 10px;">
                <div class="col-md-8" style="margin:10px;border-right: 2px solid;">
                    <span style="font-size: 21px;">Internetinių svetainių kūrimas</span><br/>
                    <span style="font-size: 18px;">Vilniaus universitetas</span><br/>
                    Informacinių sistemų inžinerija<br/>
                </div>
                <div class="col-md-3" style="margin-top:30px;">
                    <a href="#"> <i class="fa fa-info-circle fa-2x" style="vertical-align: bottom;" aria-hidden="true"></i> <span style="font-size: 16px;">Detali informacija</span></a>
                </div>
            </div>
            <div class="row" style="border: 1px solid #e5e5e5; margin-bottom: 10px;">
                <div class="col-md-8" style="margin:10px;border-right: 2px solid;">
                    <span style="font-size: 21px;">Internetinių svetainių kūrimas</span><br/>
                    <span style="font-size: 18px;">Vilniaus Gedimino Technikos universitetas</span><br/>
                    Informacinių sistemų inžinerija<br/>
                </div>
                <div class="col-md-3" style="margin-top:30px;">
                    <a href="#"> <i class="fa fa-info-circle fa-2x" style="vertical-align: bottom;" aria-hidden="true"></i> <span style="font-size: 16px;">Detali informacija</span></a>
                </div>
            </div>
        </div>
    </div>
    ​{% endblock %}
    {% block footer %}
    {{ parent() }}
    {% endblock %}
</div>
{% endblock %}