{% extends "::base.html.twig" %}
{% block container %}
    <div class="container mar-top50">
    {% block body %}
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-8" style="border-bottom: 1px solid #000; margin-bottom: 10px;">
            <h2>Detali Paieška</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form class="navbar-form" action="{{ path('MainSearch') }}">
                <div>
                    <div>
                        <div class="form-group w100pc">
                            <input name="noriu" type="text" value="{{ noriuValue }}" placeholder="Noriu" class="form-control input-lg w100pc">
                        </div>
                        <br/><br/>
                        <div class="form-group w100pc">

                            <input name="nenoriu" type="text" value="{{ nenoriuValue }}" placeholder="Nenoriu" class="form-control input-lg w100pc">
                        </div>
                        <br/><br/>
                        <div>
                            Studijų trukmė
                            <div class="row" style="padding-top: 5px; padding-bottom: 5px; border-top: 1px solid #000; border-bottom: 1px solid #000;">
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> 3 metai
                                        </label>
                                    </div><br/>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> 4 metai
                                        </label>
                                    </div><br/>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> 6 metai
                                        </label>
                                    </div>
                                    ​
                                </div>
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> 3,5 metų
                                        </label>
                                    </div><br/>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> 5 metai
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/><br/>
                        <div>
                            Studijų kaina (per metus)
                            <div class="row" style="padding-top: 5px; padding-bottom: 5px; border-top: 1px solid #000; border-bottom: 1px solid #000;">
                                <div class="col-md-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Nuo 0 iki 1000
                                        </label>
                                    </div><br/>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Nuo 1000 iki 2000
                                        </label>
                                    </div><br/>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Nuo 2000 iki 3000
                                        </label>
                                    </div><br/>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Nuo 3000 iki 4000
                                        </label>
                                    </div><br/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><br/><br/>
                <div style="text-align: right">
                    <button type="submit" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-search"></span> Ieškoti</button>
                </div>
            </form>
        </div>
        <div class="col-md-8">
            {% for program in programArray %}
                {% include 'AppBundle:Search:singleProgram.html.twig' %}
            {% endfor %}
        </div>
    </div>
    ​{% endblock %}
    {% block footer %}
    {{ parent() }}
    {% endblock %}
</div>
{% endblock %}