<div class="row" style="border: 1px solid #e5e5e5; margin-bottom: 10px;">
    <div class="col-md-8" style="padding:10px;">
        <span style="font-size: 21px;">{{ program.name }}</span><br/>
        <span style="font-size: 18px;"><a href="#">{{ program.university }}</a></span><br/>
        {{ program.field }}<br/>
    </div>
    <div class="col-md-3" style="margin-top:30px; margin-right: 10px;">
        <a href="{{ path('detailedInfo', {'id': program.id}) }}"> <i class="fa fa-info-circle fa-2x" style="vertical-align: bottom;" aria-hidden="true"></i> <span style="font-size: 16px;">Detali informacija</span></a>
    </div>
</div>