<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Noriu Studijuoti{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico')}}">
    {% block stylesheets %}
        <link href="./assets/main.css" rel="stylesheet">
    {% endblock %}
    {% block canonical_meta %}{% endblock %}
</head>
<body>
{% block header %}
    {% include "::inc/header.html.twig" %}
{% endblock %}
{% block container %}
    {% block body %}
    {% endblock %}
    {% block footer %}
        {% include "::inc/footer.html.twig" %}
    {% endblock %}
{% endblock %}
{% if app.environment == "dev" %}
    <script src="{{ asset('webpack-dev-server.js') }}"></script>
{% endif %}
{% block javascripts %}
    <script src="./assets/bundle.js"></script>
{% endblock %}
</body>
</html>