{% extends "::base.html.twig" %}
{% block container %}
    {% block body %}
        <section class="featured" xmlns="http://www.w3.org/1999/html">
            <div class="container">
                <div class="row mar-bot40">
                    <div class="col-md-6 col-md-offset-3">
                        ​
                        <div class="align-center">
                            <i class="fa fa-university fa-5x mar-bot20"></i>
                            <h2 class="slogan">Noriu studijuoti</h2>

                            <div class="row row-centered">
                                <div class="search-box-container">
                                    <form class="navbar-form">
                                        <div style="align-content: center">
                                            <div class="w358 a-center">
                                                <div class="form-group">
                                                    <input type="text" placeholder="Noriu" class="form-control input-lg">
                                                </div>
                                                <button type="submit" class="btn btn-success btn-lg">Ieškoti</button>
                                                <div style="text-align: right">
                                                    <a href="{{ path('MainSearch') }}" class="advanced-search">Detali paieška</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <p class="text-large align-center">
                            Šis puslapis padės išsirinkti norimą studijų programą. <br/>
                            Laukelyje įrašykite dalykus, kuriuos pageidautumėte mokytis studijų metu, <br/>
                            ir Jums pateiksime galimų studijų programų sąrašą.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
    {% endblock %}
    {% block footer %}
        <footer class="footer">
            <p class="align-center">© NFQ 2016</p>
        </footer>
    {% endblock %}
    </div>
{% endblock %}